<a href="https://colab.research.google.com/github/GabeAspir/Patent-Prior-Art-Finder/blob/main/Getting_into_text_Ephraim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Text methodologies
* Importing new data
* Tokenizing

In [3]:
import pandas
from google.colab import files
from google.colab import drive
import io
import re

drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
%cd /content/drive/My Drive/bq-results-20210616-103551-n0c3m546u1li/

pt= pandas.read_csv('bq-results-20210614-101306-uybbgfv0jf8q.csv')

/content/drive/My Drive/bq-results-20210616-103551-n0c3m546u1li

In [80]:
pt

     pat_no  claim_no                                          claim_txt
0   3930271         1  1. A golf glove comprising at least an index f...
1   3930271         4  4. A golf glove adapted for use on one hand of...
2   3930271         3  3. A glove comprising an index finger receptac...
3   3930271         2  2. A golf glove in accordance with claim 1 whe...
4   3930272         1  1. In combination with a height adjustable cri...
..      ...       ...                                                ...
95  3930281         7  7. The floor cleaning machine as defined in cl...
96  3930281        11  11. The floor cleaning machine as defined in c...
97  3930281         9  9. The floor cleaning machine as defined in cl...
98  3930281         3  3. The floor cleaning machine as defined in cl...
99  3930281        10  10. The floor cleaning machine as defined in c...

[100 rows x 3 columns]

#Tokenization

In [152]:
def tokenize(input):
  input = input.lower()
  out= re.split('\W', input) #Might need to change to pandas split at some point
                             # Note capital W is "Not word"= [a-zA-Z0-9_]
  out[:]= [re.sub(r"[0-9]+","_NUM_",s) for s in out] #substitute _NUM_ for any block of consecutive number chars
  out = list(filter (lambda s: len (s) > 1, out))
  return out

In [153]:
print(tokenize("I had. 2 some text to 25  100000 tokenize"))

['had', '_NUM_', 'some', 'text', 'to', '_NUM_', '_NUM_', 'tokenize']

In [189]:
pt

     pat_no  claim_no                                          claim_txt
0   3930271         1  1. A golf glove comprising at least an index f...
1   3930271         4  4. A golf glove adapted for use on one hand of...
2   3930271         3  3. A glove comprising an index finger receptac...
3   3930271         2  2. A golf glove in accordance with claim 1 whe...
4   3930272         1  1. In combination with a height adjustable cri...
..      ...       ...                                                ...
95  3930281         7  7. The floor cleaning machine as defined in cl...
96  3930281        11  11. The floor cleaning machine as defined in c...
97  3930281         9  9. The floor cleaning machine as defined in cl...
98  3930281         3  3. The floor cleaning machine as defined in cl...
99  3930281        10  10. The floor cleaning machine as defined in c...

[100 rows x 3 columns]

In [190]:
def meth(inp):
  return inp.str.split('\W')
print(meth(pt['claim_txt']))

0     [1, , A, golf, glove, comprising, at, least, a...
1     [4, , A, golf, glove, adapted, for, use, on, o...
2     [3, , A, glove, comprising, an, index, finger,...
3     [2, , A, golf, glove, in, accordance, with, cl...
4     [1, , In, combination, with, a, height, adjust...
                            ...
95    [7, , The, floor, cleaning, machine, as, defin...
96    [11, , The, floor, cleaning, machine, as, defi...
97    [9, , The, floor, cleaning, machine, as, defin...
98    [3, , The, floor, cleaning, machine, as, defin...
99    [10, , The, floor, cleaning, machine, as, defi...
Name: claim_txt, Length: 100, dtype: object

In [25]:
def pTokenize(input): #Now bec pandas series are slightly different
  out = input.str.lower()
  out= out.str.replace(r"[0-9]+","_NUM_") #substitute _NUM_ for any block of consecutive number chars
  out= out.str.replace(r'\b\w{1,2}\b',"") #remove anything not a word of length 2+
  out= out.str.split('\W+') # Note capital W is "Not word"= [a-zA-Z0-9_]
  # print(out[0])
  # print(out.apply (lambda s: len (s) > 1 )[0])
  #out = out[out.apply (lambda s: len (s) > 1 )]
  return out
print(pTokenize(pt['claim_txt']))

0     [_NUM_, golf, glove, comprising, least, index,...
1     [_NUM_, golf, glove, adapted, for, use, one, h...
2     [_NUM_, glove, comprising, index, finger, rece...
3     [_NUM_, golf, glove, accordance, with, claim, ...
4     [_NUM_, combination, with, height, adjustable,...
                            ...
95    [_NUM_, the, floor, cleaning, machine, defined...
96    [_NUM_, the, floor, cleaning, machine, defined...
97    [_NUM_, the, floor, cleaning, machine, defined...
98    [_NUM_, the, floor, cleaning, machine, defined...
99    [_NUM_, the, floor, cleaning, machine, defined...
Name: claim_txt, Length: 100, dtype: object

In [27]:
pt['tokenized']=pTokenize(pt['claim_txt'])

In [28]:
pt

     pat_no  ...                                          tokenized
0   3930271  ...  [_NUM_, golf, glove, comprising, least, index,...
1   3930271  ...  [_NUM_, golf, glove, adapted, for, use, one, h...
2   3930271  ...  [_NUM_, glove, comprising, index, finger, rece...
3   3930271  ...  [_NUM_, golf, glove, accordance, with, claim, ...
4   3930272  ...  [_NUM_, combination, with, height, adjustable,...
..      ...  ...                                                ...
95  3930281  ...  [_NUM_, the, floor, cleaning, machine, defined...
96  3930281  ...  [_NUM_, the, floor, cleaning, machine, defined...
97  3930281  ...  [_NUM_, the, floor, cleaning, machine, defined...
98  3930281  ...  [_NUM_, the, floor, cleaning, machine, defined...
99  3930281  ...  [_NUM_, the, floor, cleaning, machine, defined...

[100 rows x 4 columns]