<a href="https://colab.research.google.com/github/GabeAspir/Patent-Prior-Art-Finder/blob/main/Getting_into_pandas_Ephraim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#First steps in Pands

*   Importing local csv data exported from Google Patents
*   Using pandas to filter for keywords
*   Using pandas to combine multiple claims of a single patent
*   Creating and using a word count to confirm the concatenantion

In [59]:
import pandas
from google.colab import files
import io

Use the upload code from Google's tutorial on external data to upload the csv file.

In [60]:
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving bq-results-20210614-101306-uybbgfv0jf8q.csv to bq-results-20210614-101306-uybbgfv0jf8q (1).csv
User uploaded file "bq-results-20210614-101306-uybbgfv0jf8q.csv" with length 50842 bytes

In [61]:
patents = pandas.read_csv(io.BytesIO(uploaded['bq-results-20210614-101306-uybbgfv0jf8q.csv']))
pt= patents

approach 1:

In [62]:
patents.set_index('claim_txt').filter(like='floor',axis=0)

                                                     pat_no  claim_no
claim_txt
6. In a floor sweeper having a rotatable cylind...  3930277         6
1. In a floor sweeper having a rotatable cylind...  3930277         1
4. In a floor sweeper having a rotatable cylind...  3930277         4
8. The floor cleaning machine as defined in cla...  3930281         8
6. The floor cleaning machine as defined in cla...  3930281         6
14. The floor cleaning machine as defined in cl...  3930281        14
4. The floor cleaning machine as defined in cla...  3930281         4
12. The floor cleaning machine as defined in cl...  3930281        12
1. A floor cleaning machine constructed as a ca...  3930281         1
5. The floor cleaning machine as defined in cla...  3930281         5
7. The floor cleaning machine as defined in cla...  3930281         7
11. The floor cleaning machine as defined in cl...  3930281        11
9. The floor cleaning machine as defined in cla...  3930281         9
3. The floor cleaning machine as defined in cla...  3930281         3
10. The floor cleaning machine as defined in cl...  3930281        10

Approach 2:

(advantage: doesn't change the structure/index of the table)
[From stack overflow](https://https://stackoverflow.com/questions/27975069/how-to-filter-rows-containing-a-string-pattern-from-a-pandas-dataframe):


> Step-by-step explanation (from inner to outer):

>`df['ids']` selects the ids column of the data frame (technically, the object df['ids'] is of type pandas.Series)
<br> `df['ids'].str` allows us to apply vectorized string methods (e.g., lower, contains) to the Series
df['ids'].str.contains('ball') checks each element of the Series as to whether the element value has the string 'ball' as a substring. The result is a Series of Booleans indicating True or False about the existence of a 'ball' substring.
<br>`df[df['ids'].str.contains('ball')]` applies the Boolean 'mask' to the dataframe and returns a view containing appropriate records.

In [63]:
patents[patents['claim_txt'].str.contains("pivot")]

     pat_no  claim_no                                          claim_txt
4   3930272         1  1. In combination with a height adjustable cri...
5   3930272         3  3. The lock defined in claim 1 wherein the piv...
7   3930273        21  21. A bed arrangement comprisinga bed frame,a ...
8   3930273        20  20. A bed arrangement comprisinga bed frame,a ...
9   3930273         3  3. A bed arrangement according to claim 2,the ...
10  3930273         6  6. A bed arrangement according to claim 5,said...
11  3930273        23  23. A side rail assembly for selective detacha...
12  3930273        10  10. A bed arrangement according to claim 9,eac...
13  3930273        11  11. A bed arrangement according to claim 4,two...
14  3930273         5  5. A bed arrangement according to claim 4,said...
15  3930273         1  1. A bed arrangement comprisinga bed frame,a s...
16  3930273        24  24. A side rail assembly for selective detacha...
17  3930273        17  17. A side rail assembly for a bed, for select...
18  3930273        19  19. A bed arrangement comprisinga bed frame,a ...
19  3930273         4  4. A bed arrangement according to claim 3,said...
20  3930273        12  12. A bed arrangement according to claim 11,ea...
21  3930273        13  13. A bed arrangement according to claim 1,sai...
22  3930273         9  9. A bed arrangement according to claim 8,two ...
23  3930273        22  22. A bed arrangement according to claim 21,ea...
24  3930273        14  14. A bed arrangement according to claim 13,ea...
25  3930273        18  18. A side rail assembly according to claim 17...
26  3930273         2  2. A bed arrangement according to claim 1,each...
27  3930273        15  15. A bed arrangement according to claim 13,sa...
28  3930273         7  7. A bed arrangement according to claim 6,a pi...
29  3930273        16  16. A bed arrangement according to claim 13,tw...
30  3930273         8  8. A bed arrangement according to claim 6,said...
60  3930277         3  3. The device of claim 2 in which said plate i...
65  3930277         4  4. In a floor sweeper having a rotatable cylin...
66  3930278         1  1. A device in combination with a paintbrush h...
71  3930279         1  1. A resilient blade for use in a windshield w...
89  3930281         6  6. The floor cleaning machine as defined in cl...
95  3930281         7  7. The floor cleaning machine as defined in cl...
97  3930281         9  9. The floor cleaning machine as defined in cl...

This time removing duplicates (different claims of a single patent)

In [64]:
patents.drop_duplicates(subset=['pat_no'])

     pat_no  claim_no                                          claim_txt
0   3930271         1  1. A golf glove comprising at least an index f...
4   3930272         1  1. In combination with a height adjustable cri...
7   3930273        21  21. A bed arrangement comprisinga bed frame,a ...
31  3930274         6  6. An assembly as defined in claim 1 whereinth...
38  3930275         1  1. A method of manufacturing slippers each hav...
47  3930276         5  5. In a device according to claim 4, a deflect...
59  3930277         2  2. The device of claim 1 in which said plate m...
66  3930278         1  1. A device in combination with a paintbrush h...
71  3930279         1  1. A resilient blade for use in a windshield w...
73  3930280         5  5. The insert of claim 4 wherein each said but...
88  3930281         8  8. The floor cleaning machine as defined in cl...

In [65]:
patents #just making sure all the previous functions were non-destrutive

     pat_no  claim_no                                          claim_txt
0   3930271         1  1. A golf glove comprising at least an index f...
1   3930271         4  4. A golf glove adapted for use on one hand of...
2   3930271         3  3. A glove comprising an index finger receptac...
3   3930271         2  2. A golf glove in accordance with claim 1 whe...
4   3930272         1  1. In combination with a height adjustable cri...
..      ...       ...                                                ...
95  3930281         7  7. The floor cleaning machine as defined in cl...
96  3930281        11  11. The floor cleaning machine as defined in c...
97  3930281         9  9. The floor cleaning machine as defined in cl...
98  3930281         3  3. The floor cleaning machine as defined in cl...
99  3930281        10  10. The floor cleaning machine as defined in c...

[100 rows x 3 columns]

Now to combine rather than remove

In [67]:
#patents.groupby(['pat_no']).agg(join(',')) #Didn't figure this out

In [81]:
# A more complicated block I found on SE:
newfile= (patents.groupby('pat_no').agg({'claim_no': lambda d: str(set(d)),
                                    'claim_txt':lambda d: ", ".join(set(d))}).reset_index()).to_csv('anewfile.csv')
#files.download('anewfile.csv')

I downloaded the table so I could check if the claim was properly concatenated, which it appears it did. Now I'll save myself the trouble and check the wordcounts for the rest.

In [82]:
(patents['claim_txt'].str.split(expand=True)
              .stack()
              .value_counts()
              .rename_axis('word_count'))
#Not what I wanted

word_count
said         530
the          377
of           290
a            258
and          228
            ...
loose          1
dimension      1
under          1
some           1
desired        1
Length: 1045, dtype: int64

#Testing aggregation with word count
Because I realized I should've done this from the get-go I created a shorter variable name for my data ("pt") It is not filtered

In [83]:
pt

     pat_no  claim_no                                          claim_txt  count
0   3930271         1  1. A golf glove comprising at least an index f...     54
1   3930271         4  4. A golf glove adapted for use on one hand of...     54
2   3930271         3  3. A glove comprising an index finger receptac...     67
3   3930271         2  2. A golf glove in accordance with claim 1 whe...     32
4   3930272         1  1. In combination with a height adjustable cri...    204
..      ...       ...                                                ...    ...
95  3930281         7  7. The floor cleaning machine as defined in cl...     46
96  3930281        11  11. The floor cleaning machine as defined in c...     72
97  3930281         9  9. The floor cleaning machine as defined in cl...     64
98  3930281         3  3. The floor cleaning machine as defined in cl...     77
99  3930281        10  10. The floor cleaning machine as defined in c...     86

[100 rows x 4 columns]

First we add a counts column to the table and print it

In [71]:
pt['count'] = pt['claim_txt'].str.split().str.len()
pt

     pat_no  claim_no                                          claim_txt  count
0   3930271         1  1. A golf glove comprising at least an index f...     54
1   3930271         4  4. A golf glove adapted for use on one hand of...     54
2   3930271         3  3. A glove comprising an index finger receptac...     67
3   3930271         2  2. A golf glove in accordance with claim 1 whe...     32
4   3930272         1  1. In combination with a height adjustable cri...    204
..      ...       ...                                                ...    ...
95  3930281         7  7. The floor cleaning machine as defined in cl...     46
96  3930281        11  11. The floor cleaning machine as defined in c...     72
97  3930281         9  9. The floor cleaning machine as defined in cl...     64
98  3930281         3  3. The floor cleaning machine as defined in cl...     77
99  3930281        10  10. The floor cleaning machine as defined in c...     86

[100 rows x 4 columns]

Now we aggregate and then print under a new variable

**I also switched the set for a list so the claims would be in order**

In [88]:
pt1= patents.groupby('pat_no').agg({'claim_no': lambda d: str(set(d)),
                                    'claim_txt':lambda d: ", ".join(list(d))})
pt1['count'] = pt1['claim_txt'].str.split().str.len()
pt1

                                                  claim_no  ... count
pat_no                                                      ...
3930271                                       {1, 2, 3, 4}  ...   207
3930272                                          {1, 2, 3}  ...   266
3930273  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...  ...  2411
3930274                              {1, 2, 3, 4, 5, 6, 7}  ...   470
3930275                        {1, 2, 3, 4, 5, 6, 7, 8, 9}  ...   350
3930276            {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}  ...   955
3930277                              {1, 2, 3, 4, 5, 6, 7}  ...   479
3930278                                    {1, 2, 3, 4, 5}  ...   306
3930279                                             {1, 2}  ...   162
3930280  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...  ...  1173
3930281           {1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}  ...  1093

[11 rows x 3 columns]

Now to really make sure the numbers add up. We should keep in mind that the delimiter will also be added so we are really just making sure the new claim text isnt smaller.

In [89]:
print(pt['count'].sum())
print("____")
print(pt1['count'].sum())

7872
____
7872

That's nice, And the missing delimiters aren't counted as they're not added with spaces and appear as part of the previous word